@model DMS.Models.Class1

<h1>Add  User File</h1>

<form asp-action="Create">
    <div class="row">

        <div class="col-md-6">User</div>
        <div class="col-md-6"><input type="text" /></div>
        <div class="col-md-6">File</div>
        <div class="col-md-6"><input type="file" /></div>

        <div class="col-md-6"></div>
        <div class="col-md-6">
            <button>Submit</button>
            <button>Back to List</button>
        </div>

    </div>
</form>
